---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: UTF-8
      string: '{"assertion":"eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJmaXJlYmFzZS1hZG1pbnNkay16c2l6akBydWJ5LWZpcmVmaWdodGVyLmlhbS5nc2VydmljZWFjY291bnQuY29tIiwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2lkZW50aXR5dG9vbGtpdCIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTU0MTU5MjY5NSwiaWF0IjoxNTQxNTg5MDk1fQ.AhCcZrSDbWU_87KhLWbTiGn_w6Dz-nvuMJRL9nXCDXOGBF_vrpkjNvUuqH4i21OQO9EdfyrPKrwkPQlx1dsQsjjAMQbONSGOz4h5kEAVnN9W7o1JGMUnFfq4UvKJDnZSuxkFlLckWtN36uAner-3UUJA0mvMSGybelHd8ihizK6Yvh7rmNifmIzdYKRW6ecFN-TIJUFzYJHLYfrb3YfNlx2xhyCdjN5tzDRmGl8YOolrunUZtcUULjTmYKdLDIHOcAbKmLWKtnkWH85MpOvEkww_qzkBeRte_c0sp6YYYPcNODjnCbTw8FBvtkNzUA1FCyjj1TZrNDxW0Cb7PbeMkw","grant_type":"urn:ietf:params:oauth:grant-type:jwt-bearer"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "ya29.c.ElpNBi9q_ldrXHw9ynNE2FKLHamGBho0vvMllAwboS77T4QLHf9SFvMRnel_X2Vg_cSsDQxHbHURIGVJphkGRg-22KJ1dNXOywjJ_jhAVhjIHzZrHVNZE_i6uA8",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Wed, 07 Nov 2018 11:11:35 GMT
- request:
    method: post
    uri: https://www.googleapis.com/identitytoolkit/v3/relyingparty/downloadAccount?key=AIzaSyC9Sr5Hd__ixE5YTCanrgxH3b2IQnJqIho
    body:
      encoding: UTF-8
      string: '{"nextPageToken":null,"maxResults":100}'
    headers:
      Authorization:
      - Bearer ya29.c.ElpNBi9q_ldrXHw9ynNE2FKLHamGBho0vvMllAwboS77T4QLHf9SFvMRnel_X2Vg_cSsDQxHbHURIGVJphkGRg-22KJ1dNXOywjJ_jhAVhjIHzZrHVNZE_i6uA8
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "identitytoolkit#DownloadAccountResponse",
          "users": [
            {
              "localId": "7RivAK2O5RcJIVgplAiF5Wxcdvq1",
              "email": "test@test.de",
              "passwordHash": "3SHA-3LcWRxtPkcrnsDCEkgyKBjQwDxR8hopvulQ7Ecp4TjhdjvCtAN8nNZ5SNusCa8-OoIMvXOw_tXYNatnaQ==",
              "salt": "2O3a3iMkKe0FAg==",
              "version": 0,
              "emailVerified": false,
              "passwordUpdatedAt": 1541583084000,
              "providerUserInfo": [
                {
                  "providerId": "password",
                  "federatedId": "test@test.de",
                  "email": "test@test.de",
                  "rawId": "test@test.de"
                }
              ],
              "validSince": "1541583084",
              "lastLoginAt": "1541583084000",
              "createdAt": "1541583084000"
            }
          ],
          "nextPageToken": "7RivAK2O5RcJIVgplAiF5Wxcdvq1"
        }
  recorded_at: Wed, 07 Nov 2018 11:11:35 GMT
- request:
    method: post
    uri: https://www.googleapis.com/identitytoolkit/v3/relyingparty/downloadAccount?key=AIzaSyC9Sr5Hd__ixE5YTCanrgxH3b2IQnJqIho
    body:
      encoding: UTF-8
      string: '{"nextPageToken":"7RivAK2O5RcJIVgplAiF5Wxcdvq1","maxResults":100}'
    headers:
      Authorization:
      - Bearer ya29.c.ElpNBi9q_ldrXHw9ynNE2FKLHamGBho0vvMllAwboS77T4QLHf9SFvMRnel_X2Vg_cSsDQxHbHURIGVJphkGRg-22KJ1dNXOywjJ_jhAVhjIHzZrHVNZE_i6uA8
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "identitytoolkit#DownloadAccountResponse",
          "nextPageToken": ""
        }
  recorded_at: Wed, 07 Nov 2018 11:11:36 GMT
recorded_with: VCR 4.0.0
